:root{
    /* color */
    --white-color : white;
    --black-color : black;
    --blue-color : blue;
    --red-color : red;
    --darkgray-color: darkgrey;
    --lightgray-color: lightgray;
    /* size */
    --side-padding: 12px;
    --avatar-size: 26px;
    /* font size  */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: var(--side-padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo{
    font-size: var(--font-large);
    font-weight: bold;
}

header .logo i{
    color: var(--red-color);
}

header .icons .fa-search{
    margin-right: auto;
}

/* search  */
header .search .input{
    font-size: var(--font-large);
    padding: var(--side-padding);
    float: left;
}

/* member */
header .member-panel a{
    color: var(--white-color);
    text-decoration-line: none;
}

